SUBSYSTEMS=="usb",ATTRS{idVendor}=="1b8e",ATTRS{idProduct}=="c003",OWNER="amlogic",MODE="0666",SYMLINK+="worldcup"
SUBSYSTEMS=="usb",ATTRS{idVendor}=="1b8e",ATTRS{idProduct}=="c004",OWNER="amlogic",MODE="0666",SYMLINK+="worldcup"

